{% extends 'public/navbar.html' %}
{% load crispy_forms_tags %} 

{% block title %}
Profile | {{ user.member }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="add-job-card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="update">
        </form>
    </div>   
</div>
{% endblock %}