{% extends 'public/navbar.html' %}

{% block title %}
Pelamar | {{ user.member.name }}
{% endblock %}

{% block content %}
<div class="content">
    <div class = "content-card">
        {% for data in dataset %}
            <div class="job-card pel-j-c">
                <div class="job-card-head">
                    <h5>{{ data.job.job_name }}</h5>
                    <p>{{ data.job.description }}</p>
                </div>
                {% if data.status == 'diterima' %}
                <div class ="job-card-body">
                    <a href="{% url 'test' data.job.id %}" id="job-act" style="width: 120px;">
                        Kerjakan test
                    </a>
                    <span style="background-color:var(--main-dark); color: var(--main-light);">
                        {{ data.status }}
                    </span>
                </div> 
                {% elif data.status == 'ditolak' %}
                <div class="job-card-body">
                    <span style="background-color:rgb(241, 183, 75);">
                        {{ data.status }}
                    </span>
                </div> 
                {% else %}
                <div class="job-card-body">
                    <span>
                        {{ data.status }}
                    </span>
                </div> 
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}