{% extends 'public/navbar.html' %}
{% load crispy_forms_tags %} 

{% block title %}
tambah lowongan (edit)
{% endblock %}

{% block content %}
<div class="content">
    <div class="add-job-card">
        <form method="POST">       
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="tambah lowongan">
        </form>
    </div>

</div>
{% endblock %}