{% extends 'public/navbar.html' %}
{% load crispy_forms_tags %} 

{% block title %}
Edit | {{ dataset.job_name }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="add-job-card">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="update">
        </form>
    </div>   
</div>
{% endblock %}

