{% extends 'public/navbar.html' %}

{% block title %}
HDC | {{ user.member.name }}
{% endblock %}

{% block content %}
<div class="content dis__f jc__c">
    <div class="menu">
        <a href="{% url 'add_job' %}">
            <div class="menu-item dis__f ai__c jc__sb">
                <div class="btn-tambah1"> Tambah Lowongan</div>            
                <div class="btn-tambah2 dis__f ai__c jc__c">
                    +             
                </div>
            </div>
        </a>
        <div></div>
    </div>
    <div class = "joblist">
            {% for data in dataset %}
                <div class="job-card hdc-j-c">
                    <div class="job-card-head">
                        <h5>{{ data.job_name }}</h5>
                        <p>{{ data.description }}</p>
                    </div>
                    <div class="job-card-body">
                        <a href="{% url 'detail_job' data.id %}" id="job-act">
                            detail
                        </a>
                        <a href="{% url 'edit_job' data.id %}" id="job-act">
                            edit
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}