{% extends 'public/navbar.html' %}
{% load crispy_forms_tags %} 

{% block title %}
Order Review
{% endblock %}

{% block content %}
<div class="content">
    <div>
        {{ job_list.job }}
        {{ job_list.pelamar_id }}
    </div>
    <div class="add-job-card">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="update">
        </form>
    </div>   
</div>
{% endblock %}
