{% extends 'public/navbar.html' %}

{% block title %}
Korektor | {{ user.member.name }}
{% endblock %}

{% block content %}
<div class="content">
    <div class = "content-card">
            {% for order in review_orders %}
                <div class="job-card">
                    <div class="job-card-head">
                        <h5>{{ order.job_list.job }}</h5>
                        <p>Pelamar: {{ order.job_list.pelamar_id.member }}</p>
                        <p>HDC: {{order.job_list.job.hdc_id.member }} </p>
                    </div>
                    <div class="job-card-body">
                        <a href="{% url 'koreksi' order.id %}" id="job-act">
                            koreksi
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}