{% extends 'public/navbar.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ review.job_list.job }} | {{ review.job_list.pelamar_id }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="apply-job-card">
        <table class="review-tbl">
            <caption style="display: none;">review_tbl</caption>
            <tr>
                <td>Nama pelamar: </td>
                <td>{{ review.job_list.pelamar_id.member }}</td>
            </tr>
            <tr>
                <td>Pekerjaan yang dilamar: </td>
                <td>{{ review.job_list.job }}</td>
            </tr>
            <tr>
                <td>Tests status: </td>
                {% for test in review.job_list.job.tests.all %}
                    {% if test in review.job_list.tests.all%}
                        <td>{{ test }} sudah</td>
                    {% else %}
                        <td>{{ test }} belum </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="submit">
        </form>
    </div>   
</div>
{% endblock %}