@font-face {
    font-family: "nasalization";
    src: url('nasalization-rg.otf');
    }

:root {
  --main-light: #DFEEEA;
  --main-dark: #2F5D62;
  --dark-accent: #5E8B7E;
  --light-accent: #A7C4BC;
  --light-light: #f4fffc;
}

body {
    background-color: var(--main-light);
  }

body a {
  text-decoration: none;
}

body a:hover{
  text-decoration: none;
 }
.dis__f {
  display: flex;
}
.jc__c {
  justify-content: center;
}
.jc__sb {
  justify-content: space-between;
}
.ai__c {
  align-items: center;
}
.fl__w {
  flex-wrap: wrap;
}
.h__vh {
  height: 100vh;
}
/* navbar styling */
.navbar {
  background-color:   var(--main-dark);
  margin-bottom: 10px;
  padding: 5px 30px;
}
.navbar-item {
  display: flex;
}
.navbar-item a{
  height: 40px;
  padding: 8px 13px;
  color: var(--main-light);
}
.navbar-item a:hover {
  background-color: var(--dark-accent);
  text-decoration: none;
  color: var(--main-light);
  border-radius: 35px;
}
.dropdown-btn {
  background-color: var(--dark-accent);
  color: var(--main-light);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 2.2;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.dropdown-btn:focus {
  outline: none;
} 
.user-menu{
  position: absolute;
  background-color: var(--light-accent);
  display: none;
  top: 60px;
  right: 30px;
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}
.user-menu a{
  color: var(--light-light);
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 13px 20px;
}
.user-menu:hover{
  display: block;
}
.navbar-item .user-menu a:hover{
  border-radius: 0px;
}
.navbar-item .user-menu1 a:hover{
  border-radius: 5px 5px 0px 0px;
}
.navbar-item .user-menu2 a:hover{
  border-radius: 0px 0px 5px 5px;
}
.navbar a:active {
    background-color: var(--light-accent);
    text-decoration: none;
}
.header-title {
    color: var(--main-light);
    margin-right: 20px;
    text-align: center;
    font-family: "nasalization";
}

/* content-styling */

.content {
  margin: 0px 60px;
  color: var(--main-dark);
}
.content-card {
  color: var(--main-dark);
  width: 100%;
}

/* login-page */
.register-card {
    background-color: var(--main-light);
    border-radius: 30px;
    height: 100%;
    width: 60%; 
    padding: 20px;
}
.login-card {
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
  border-radius: 30px;
  padding: 20px;
  width: 400px;
}
.login-card-container {
  padding: 5px;
  color: var(--main-dark);
}
#loginHeader {
  text-align: center;
}
#loginFooter {
  display: flex;
  justify-content: space-between;
}
#LoginBtn {
  background-color: var(--dark-accent);
  color:var(--main-light);
  border-radius: 15px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.cancelbtn {
  width: auto;
  color: var(--main-dark);
  padding: 10px 10px;
  border-radius: 15px;
  background-color: var(--light-accent);
  border: none;
  cursor: pointer;
}

.login-card-container input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin:0px 0px 20px 0px;
    border-radius: 15px;
}

/* public-dashboard */
.joblist {
  width: 50%;
  margin: 13px;
}
.add-job-card {
  background-color: var(--main-light);
  border-radius: 30px;
  padding: 30px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.apply-job-card {
  color: var(--main-dark);
  padding: 40px;
}
.apply-job-card h3{
  font-weight: bolder;
}
.job-card-link{
  color: var(--main-dark);
  margin: 15px;
  border-radius: 10px;
  border: 1px solid var(--light-light);
}
.job-card-link:hover {
  color:var(--main-dark);
  border-radius: 10px;
  border: 1px solid var(--main-dark);
  box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.2);
}
.job-card {
  background-color: var(--light-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
.pel-j-c{
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.pub-j-c {
  height: 200px;
  width: 275px;
  border-radius: 10px;
  padding: 20px;
}
.job-card-head {
  height: 50%;
}
.job-card-body{
  height: 23%;
  display: flex;
  justify-content: flex-end;
}
.job-card h5 {
  font-weight: bold;
  margin: 3px;
}
#job-act {
  border: 1px solid var(--main-dark);
  color: var(--main-dark);
  border-radius: 20px;
  padding: 6px 10px;
  margin-left: 10px;
}
#job-act:hover {
  background-color: var(--main-dark);
  text-decoration: none;
  border-color: var(--main-dark);
  color: var(--main-light);
}
.job-card-body span{
  background-color: #A7C4BC;
  color: var(--dark-accent);
  padding: 7px 10px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.search{
  background-color:var(--light-accent);
  display: none;
  border: none;
  border-radius: 30px;
  margin-right: 25px;
  height: 35px;
}
.search .text {
  background-color: var(--light-light);
  border: none;
  padding: 0px 20px;
  border-radius: 30px;
  width: 100px;
  transition: width .35s ease-in-out;
}
.search .text:focus{
  width: 230px;
  outline:none;
}
.search .btn {
  background-color: var(--light-accent);
  color: var(--main-dark);
  border: none;
  padding: 5px;
  width: 45px;
  border-radius: 30px;
}
/* hdc-page */
.menu {
  width: 20%;
  margin: 13px;
}
.menu-item {
  background-color: var(--light-light);
  color: var(--dark-accent);
  font-weight: 600;
  height: 50px;
  border-radius: 30px;
}
.btn-tambah1 {
  padding: 0px 15px;
}
.btn-tambah2 {
  color: var(--light-light);
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--light-accent);
}
.hdc-j-c{
  margin: 0px 10px 10px 10px;
  padding: 15px;
  border-radius: 15px;
}

.job-title{
  height: 30px;
  color: var(--main-dark);
  margin: 10px 20px;
}

.job-title h5{
  font-weight: bold;
}
.d-j-c-c{
  width: 80%;
}
.app-tbl{
  border-collapse: collapse;
  width: 100%;
}
.app-tbl tr, .app-tbl td{
  text-align: left;
  padding: 6px 15px;
  border-radius: 20px;
  display: flex;
}
.app-tbl #col1{
  width: 10%;
  padding: 12px;
  font-weight: bold;
}
.app-tbl #col2{
  width: 70%;
}
.app-tbl #col3{
  width: 20%;
  justify-content: flex-end;
}
.app-tbl #c2{
  background-color: #71998e;;
  color: var(--light-accent);
  margin: 3px 20px;
  height: 30px;
  padding: 3px 15px;
  border-radius: 20px;
  display: flex;
}
.app-tbl #c3 {
  height: 100%;
  padding: 6px 0px;
}
.app-tbl #c3 a{
  border-style: solid;
  border-width: 1px;
  border-color: var(--main-dark);
  border-radius: 20px;
  color: var(--main-dark);
  padding: 6px 15px;
}
.app-tbl #c3 a:hover {
  background-color: var(--main-dark);
  text-decoration: none;
  border-color: var(--main-dark);
  color: var(--main-light);
}
.app-tbl a:active {
  background-color: var(--main-dark);
  text-decoration: none;
}
.app-tbl tr:nth-child(odd){
  background-color:#f4fffc;
}
.review-tbl {
  margin: 40px 0px;
}

.review-tbl td {
  padding: 10px;
  font-size: 20px;
}