{% extends 'public/navbar.html' %}

{% block title %}
rekrut
{% endblock %}

{% block content %}
<div class="content">
    <div class="content-card dis__f fl__w">
            {% for job in job_list %}
            <a href="{% url 'lamar' job.id %}" class="job-card-link">
                <div class="job-card pub-j-c">
                    <div class="job-card-head">
                        <h5>{{ job.job_name }}</h5>
                        <p>{{ job.description }}</p>
                    </div>
                    {% if is_Pelamar %}
                    <div class="job-card-body">
                        {% if job in usr_job_list  %}
                            <span>sudah melamar</span>
                        {% endif %}
                    </div>
                    {% elif is_HDC == True %}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
    </div>
</div>
{% endblock %}

