{% extends 'public/base.html' %}
    {% block navbar %}
    <div class="navbar">
        <div class="navbar-item">
            <div class="header-title">
                <h3>rekrut</h3>
            </div>
            <a href="{% url 'dashboard' %}">Home</a>
            {% if is_HDC == True %}
            <a href="{% url 'hdc' %}">Lowongan Saya</a>
            {% elif is_Pelamar == True %}
            <a href="{% url 'pelamar' %}">Lamaran Saya</a>
            {% elif is_Korektor == True %}
            <a href="{% url 'korektor' %}">Review Saya</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}   
        <div class="navbar-item">
            <form class="search" method="POST">
                {% csrf_token %}
                <input type="text" name="" class="text" placeholder="Cari">
                <button type="submit" class="btn"><i class="fa fa-search "></i></button>
            </form>   
            <button class="dropdown-btn">{{ user.member.n }}</button>
            <div class="user-menu">
                <div class="user-menu1"><a href="{% url 'profile' %}">Profile</a></div>
                <a href="">Setting</a>
                <div class="user-menu2"><a href="{% url 'logout' %}">Log Out</a></div>                
            </div>
        </div>
        {% else %}
        <div class="navbar-item">
            <form class="search" method="POST">
                {% csrf_token %}
                <input type="text" name="" class="text" placeholder="Cari">
                <button type="submit" class="btn"><i class="fa fa-search "></i></button>
            </form> 
            <a href="{% url 'login' %}">Sign in</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
